/* Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,500&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');


body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}
.navbar-brand
{
    position: relative;
    width: 190px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.embed-responsive-item {
    width: 100%;
    object-fit: cover;
    height: 25vw;
}
h2{
    font-weight: 900;
    font-size: 36px;
    color: #FA804C;
}
a{
    text-decoration: none;
    color: white;
}